<%= form_with(model: departamento, local: true) do |form| %>
  <% if @departamento.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <% @novo_produto.errors.full_messages.each do |message| %>
            <%= message %>
            </br>
        <% end %>
    </div>
  <% end %>

  <div class="form-inline">
    <div class="form-group">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>
    <%= form.submit "Criar Deparamento", class: "btn btn-primary" %>
    </br>
  </div>
<% end %>
