<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link "nome" %></th>
      <th>Descrição</th>
      <th>Departamento</th>
      <th><%= sort_link "preco" %></th>
      <th>Quantidade</th>
      <th>Alterar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <%= render @produtos %>
  </tbody>
</table>
<div>
  <%= will_paginate @produtos, renderer: BootstrapPagination::Rails %>
</div>
<div>
  <%=link_to "Criar Produto", new_produto_path, class:"btn btn-default"%>
  <%=link_to "Departamentos", departamentos_path, class:"btn btn-default"%>
</div>