<% if @novo_produto.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <% @novo_produto.errors.full_messages.each do |message| %>
            <%= message %>
            </br>
        <% end %>
    </div>
<% end %>

<%= form_for @novo_produto do |f| %>
    <div class="form-group">
        <%= f.label :nome, "Nome:" %>
        <%= f.text_field :nome, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :descricao, "Descrição:" %>
        <%= f.text_area :descricao, rows: 3, class: "form-control", required: true %>
    </div>

    <div class="form-inline">
        <div class="form-group">
            <%= f.label :quantidade, "Quantidade:" %>
            <%= f.number_field :quantidade, step: 1, class: "form-control", required: true %>

            <%= f.label :preco, "Preço:" %>
            <%= f.number_field :preco, step: 0.01, class: "form-control", required: true %>
        </div>

        <%= f.submit "Criar Produto", class: "btn btn-primary" %>
    </div>
<% end %>